.table {
    border-collapse: collapse;
    width: 100%;
    font-size: large;
}
.table td, .table th {
    border: 2px solid var(--text);
    padding: 4px;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    height: calc(90vh - 2px);
}
.classes {
    border-right: 2px solid var(--text);
    width: 20vw;
    padding: 1vw;
}
.classesTable {
    border-collapse: collapse;
    width: 100%;
}
.classesTable th, .classesTable td {
    border: 2px solid var(--text);
    text-align: center;
}
.assignments {
    padding: 0 1vw;
    width: 80vw;
}
.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.toolbar button {
    height: min-content;
}
.headerRow th div {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.headerRow h4 {
    margin: 0;
    user-select: none;
}
.sortedAsc .ascArrow {
    display: inline;
}
.sortedDesc .dscArrow {
    display: inline;
}
.ascArrow, .dscArrow {
    display: none;
}
.classInput {
    font-family: var(--font);
    border: 2px solid var(--text);
    border-radius: 4px;
    background-color: var(--background);
    width: 100%;
    padding: 0 1ch;
    font-size: large;
}
.button {
    font-family: var(--font);
    border: 2px solid var(--text);
    border-radius: 4px;
    background-color: var(--background);
    font-size: large;
}
.classForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.tableButtons {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
}
.overdue {
    background-color: red;
}
@media (pointer: fine) {
    .headerRow th:hover {
        cursor: pointer;
    }
    .button {
        cursor: pointer;
    }
}
