.container {
    display: flex;
    flex-direction: row;
    height: calc(90vh - 2px);
}
.classes {
    border-right: 2px solid var(--text);
    width: 20vw;
    padding: 1vw;
}
.assignments {
    padding: 0 1vw;
    width: 80vw;
}
.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.toolbar button {
    height: min-content;
}
.classInput {
    font-family: var(--font);
    border: 2px solid var(--text);
    border-radius: 4px;
    background-color: var(--background);
    width: 100%;
    padding: 0 1ch;
    font-size: large;
}
.button {
    font-family: var(--font);
    border: 2px solid var(--text);
    border-radius: 4px;
    background-color: var(--background);
    font-size: large;
}
.classForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

@media (max-width: 768px) {
    .classes {
        display: none;
    }
    .assignments {
        width: 100%;
        overflow: hidden;
    }
    .tableContainer {
        overflow-y: scroll;
    }
}
@media (pointer: fine) {
    .button {
        cursor: pointer;
    }
}
