.classesTable {
    border-collapse: collapse;
    width: 100%;
}
.classesTable th,
.classesTable td {
    border: 2px solid var(--text);
    text-align: center;
}
@media (pointer: fine) {
    .classesTable input:hover {
        cursor: pointer;
    }
}