@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --background: #f3f0e8;
    --text: #272729;
    --font-jetbrains: 'JetBrains Mono', monospace;
}

body {
    background-color: var(--background);
    font-family: var(--font-jetbrains);
    margin: 0;
}