.button {
    background-color: var(--background);
    border-radius: 10px;
    font-size: xx-large;
    color: var(--text);
    font-family: var(--font);
    display: flex;
    align-items: center;
    gap: 10px;
}
@media (max-width: 768px) {
    .button {
        font-size: x-large
    }
}
@media (pointer: fine) {
    .button:hover {
        cursor: pointer;
    }
}